@*<li class="nav-item d-md-down-none">
    <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
</li>
<li class="nav-item d-md-down-none">
    <a class="nav-link" href="#"><i class="icon-list"></i></a>
</li>
<li class="nav-item d-md-down-none">
    <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
</li>*@
<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <img src="~/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="Manage\Index"><i class="fa fa-user"></i>My Profile</a>
        <a class="dropdown-item" href="#"><i class="fa fa-key"></i> Change Password</a>
        <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
    </div>
</li>