<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--<add name="DatabaseConnectionString" connectionString="data source=192.168.5.28;initial catalog=dms_dev;persist security info=True;user id=sa;password=Rwn$AfGt;" providerName="System.Data.SqlClient" />-->
    <add name="DatabaseConnectionString" connectionString="data source=192.168.5.28;initial catalog=dms_test;persist security info=True;user id=sa;password=Rwn$AfGt;" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-VERITY.DMS-20160425121626;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-VERITY.DMS-20160425121626.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LogFile" value="E:\Projects\RESM\Verity.RESM.UI\Logs\" />
    <add key="IsFileLogTurnedOn" value="ON" />
    <add key="RemindersTime" value="12:30PM" />
    <add key ="FilePath" value="D:\Projects\DMS\VERITY.DMS\VERITY.DMS\"/>
    <add key ="DestFilePath" value="http://dms.veritydemos.com/"/>
  </appSettings>
</configuration>